<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CrcMrc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <applicationSettings>
    <CrcMrc.Properties.Settings>
      <setting name="TickTime" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ComputerName" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="ComputerIP" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="ComputerLocation" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value>n:\KeyLog.txt</value>
      </setting>
      <setting name="TickKeyboardTime" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CounterKey" serializeAs="String">
        <value>100</value>
      </setting>
    </CrcMrc.Properties.Settings>
  </applicationSettings>
</configuration>
